<section class="displayModule">
    <ul>
        <% categories.forEach((category) => { %>
            <% const linkRef = `/category/${category.category_id}`; %>
            <li>
                 <a href=<%=linkRef %>><%= category.category_name %></a> 
            </li>
        <% }); %>
    </ul>
</section>