<section class="displayModule">
    <ul>
        <% tags.forEach((tag) => { %>
            <% const linkRef = `/tag/${tag.tag_id}`; %>
            <li>
                 <a href=<%=linkRef %>><%= tag.tag_name %></a> 
            </li>
        <% }); %>
    </ul>
</section>