<section class="displayModule">
    <ul class="partsContainer">
        <% parts.forEach((part) => { %>
            <li class="part">
                <!-- I'd like this to be a link to a page displaying all parts in this category. -->
                 <!-- To do this we first need to setup routes for each individual category. For now we'll just display category name -->
                  <p><%= part.name %></p>
                  <p><%= part.category %></p>
                  <p><%= part.quantity %></p>
                  <p><%= part.description %></p>
            </li>
        <% }); %>

    </ul>


</section>