<section class="displayModule">
    <ul>
        <% tags.forEach((tag) => { %>
            <li>
                <!-- I'd like this to be a link to a page displaying all parts in this category. -->
                 <!-- To do this we first need to setup routes for each individual category. For now we'll just display category name -->
                  <p><%= tag.name %></p>
            </li>
        <% }); %>

    </ul>


</section>