<section class="displayModule">
  <ul class="partsContainer">
    <% parts.forEach((part) => { %>
    <li class="part">
      <div class="partComponent">
        <label>Name:</label>
        <p><%= part.part_name %></p>
      </div>
      <div class="partComponent">
        <label>Category:</label>
        <p><%= part.category %></p>
      </div>
      <div class="partComponent">
        <label>Quantity:</label>
        <p><%= part.quantity %></p>
      </div>
      <div class="partComponent">
        <label>Description:</label>
        <p><%= part.description %></p>
      </div>
    </li>
    <% }); %>
  </ul>
</section>
