<section class="selectedCategory">
    <h2>Category Name: <%= category_name %></h2>
    <div class="buttonContainer">
      <% const getAction = `${category_id}/edit`; %>
      <form action="<%= getAction %>"
        method="get">
        <button>Edit Category Name</button>
      </form>
  
      <% const postAction = `${category_id}/delete`; %>
      <form action="<%= postAction %>"
        method="post">
        <button>Delete tag</button>
      </form>
    </div>
  </section>
  