<section class="selectedCategory">
    <h2>Category Name: <%= category_name %></h2>
    <div class="buttonContainer">
      <% const editAction = `${category_id}/edit`; %>
      <form action="<%= editAction %>"
        method="get">
        <button>Edit Category Name</button>
      </form>
  
      <% const deleteAction = `${category_id}/delete`; %>
      <form action="<%= deleteAction %>"
        method="get">
        <button>Delete Category</button>
      </form>
    </div>
  </section>
  