<nav class="navigation">
  <ul>
    <% for (let i = 0; i < links.length; i++) { %>
    <a href="<%= links[i].href %>" class="navigationLink">
      <li>
        <span> <%= links[i].text %> </span>
      </li>
    </a>

    <% } %>
  </ul>
</nav>
