* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}

h1,
h2 {
  text-align: center;
}

ul {

  list-style: none;
margin: none;
padding: none;
}

.formInputs li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newForm {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
}

.tagOptions li {
  background-color: aqua;
}

/* It would be kinda cool to assign each tag a random color that persists. It'd make finding tags easier. */
/* Ohhhh you could get to choose a color for each tag..... That could be fun.  */

.displayModule,
.displayModule ul,
form .tagOptions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tagOptions > * {
  flex: 1;
}

.displayModule {
  margin: 1rem;
  padding: 1rem;
}

.partsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
  width: 100%;
  padding-left: none;

  /* display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap; */
}

.partsContainer {
  width: 100%;
padding: 1rem;
gap: 1rem;
/* background-color: purple;
border: 2px solid orange; */

}

.partsContainer a {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.componentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.part,
.selectedPart {
  /* margin: 0.5rem;
  padding: 0.5rem; */
  color: black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

width: 100%;

  /* gap: 0rem 1rem; */
  /* padding: 1rem; */
}

.partComponent {
  /* background-color: coral; */
  display: flex;
  flex-direction: column;
  /* border: 2px solid black;
  padding: 0.5rem;
  margin: 0.5rem; */
}

.tagOption {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selectedPart {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}
