* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}

h1,
h2 {
  text-align: center;
}

.navigation {
  width: 100%;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}

.navigationLink {
  margin: 1rem;
  padding: 1.5rem;
  font-size: larger;
  color: black;
  border-radius: 5px;
  background-color: cadetblue;
  flex-grow: 1;
  text-align: center;
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.formInputs li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .5rem 0 .5rem;
}

.newForm {
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
}

.tagOptions li {
  background-color: aqua;
  /* padding: .2rem; */
}

/* It would be kinda cool to assign each tag a random color that persists. It'd make finding tags easier. */
/* Ohhhh you could get to choose a color for each tag..... That could be fun.  */

form .tagOptions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tagOptions > * {
  flex: 1;
}

.displayModule {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  flex-wrap: wrap;
}

.displayModule ul {
  /* background-color: purple; */
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.partsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
  width: 100%;
  padding-left: none;
  margin-top: 0;
}

.partsContainer {
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

.partsContainer a {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.componentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.part {
  color: black;
  border-radius: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
}

.buttonContainer {
  grid-column-end: span 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

button {
  font-size: large;
  padding: .2rem;
}

.selectedPart {
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  width: auto;
}

.partComponent {
  display: flex;
  flex-direction: column;
}

.partComponent label {
  font-size: small;
  color: gray;
  margin-bottom: 0;
}

.partValue {
  font-size: large;
  margin: 0.3rem;
}

.partComponent ul li {
  margin: 0.2rem;
}

.tagOption {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.partLink :hover {
  transform: scale(1.01);
  background-color:rgb(249, 239, 226)
}