<% const action = `/tag/edit/${tagId}`; %>



<form action=<%= action %> class="editTagForm newForm" method="post">
    <input type="text" name="tag_name" value="<%= currentTagName %>">
    <button type="submit">Change Tag Name</button>

</form>