<form action="/category/new" method="post">
  <label for="category">Create a Category:</label>
  <input
    type="text"
    name="category"
    required
    autocomplete="off"
    maxlength="30"
  />
  <button type="submit">Submit</button>
</form>
